trunk/always_turn_left/input/InsuranceComplexTypesDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by DURANT Sophie (MONDIAL ASSISTANCE SA) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by DURANT Sophie (MONDIAL ASSISTANCE SA) -->
<xs:schema targetNamespace="http://www.mondial-assistance.com/ecommerce/schema/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.mondial-assistance.com/ecommerce/schema/"  xmlns:oraxdb="http://xmlns.oracle.com/xdb">
        <xs:include schemaLocation="InsuranceSimpleTypesDefinition.xsd"/>
        <xs:complexType name="payment">
        <xs:annotation>
                <xs:documentation>information to proceed payment</xs:documentation>
        </xs:annotation>
                <xs:sequence>
                        <xs:element name="paymentHolder">
                                <xs:annotation>
                                        <xs:documentation>payment holder information, may be different from contract Holder.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                        <xs:sequence>
                                                <xs:element name="lastName" type="xs:string">
                                                        <xs:annotation>
                                                                <xs:documentation>payment holder name, as it is specify on the creditCard</xs:documentation>
                                                        </xs:annotation>
                                                </xs:element>
                                                <xs:element name="email" type="emailType">
                                                        <xs:annotation>
                                                                <xs:documentation>email is required for the contract holder</xs:documentation>
                                                        </xs:annotation>
                                                </xs:element>
                                                <xs:element name="noSpam" type="xs:string" minOccurs="0">
                                                        <xs:annotation>
                                                                <xs:documentation>No trade or sell email</xs:documentation>
                                                        </xs:annotation>
                                                </xs:element>
                                                <xs:element name="address" type="notNullStrType" minOccurs="0" maxOccurs="3">
                                                        <xs:annotation>
                                                                <xs:documentation>contract holder's address</xs:documentation>
                                                        </xs:annotation>
                                                </xs:element>
                                                <xs:element name="zipcode" type="xs:string" minOccurs="0"/>
                                                <xs:element name="town" type="notNullStrType" minOccurs="0"/>
                                                <xs:element name="country" type="notNullStrType" minOccurs="0"/>
                                        </xs:sequence>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="cardInformation">
                                <xs:annotation>
                                        <xs:documentation>details on payment card, including the type of card</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                        <xs:sequence>
                                                <xs:element name="cardNumber">
                                                        <xs:annotation>
                                                                <xs:documentation>card number from 1' up to 19 digits</xs:documentation>
                                                        </xs:annotation>
                                                </xs:element>
                                                <xs:element name="cv2Number" minOccurs="0">
                                                        <xs:annotation>
                                                                <xs:documentation>usually last three digits on the back of the card</xs:documentation>
                                                        </xs:annotation>
                                                </xs:element>
                                                <xs:element name="issueNumber" minOccurs="0">
                                                        <xs:annotation>
                                                                <xs:documentation>specific to SOLO, SWITCH cards.</xs:documentation>
                                                        </xs:annotation>
                                                </xs:element>
                                                <xs:element name="startDate" minOccurs="0">
                                                        <xs:annotation>
                                                                <xs:documentation>specific to soem card</xs:documentation>
                                                        </xs:annotation>
                                                </xs:element>
                                                <xs:element name="validityDate">
                                                        <xs:annotation>
                                                                <xs:documentation>expiration date of the card</xs:documentation>
                                                        </xs:annotation>
                                                </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="type" type="xs:string" use="optional"/>
                                </xs:complexType>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="adminType">
                <xs:annotation>
                        <xs:documentation>Describe the pricing context</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="securityKey" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Key identifying the partner. (Note that this field is temporarly optionnal, but will be mandatory by next release</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                <xs:maxLength value="50"/>
                                        </xs:restriction>
                                </xs:simpleType>
                        </xs:element>
                        <xs:element name="partnerName">
                                <xs:annotation>
                                        <xs:documentation>Identifies who sent the subscription request</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                <xs:pattern value="[A-Z]{3}"/>
                                        </xs:restriction>
                                </xs:simpleType>
                        </xs:element>
                        <xs:element name="partnerIdentifier" minOccurs="0" type="xs:string">
                                <xs:annotation>
                                        <xs:documentation>
                                                partner identification
                                        </xs:documentation>
                                </xs:annotation>
                        </xs:element>

                        <xs:element name="country" type="countryISOType">
                                <xs:annotation>
                                        <xs:documentation>ISO country code of the agent</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="issueDate" type="dateFormatType">
                                <xs:annotation>
                                        <xs:documentation>Travel and insurance purchase date</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="salesOrigin" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Get sales origins</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                        <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                        <xs:attribute name="type" type="xs:string" use="required"/>
                                                </xs:extension>
                                        </xs:simpleContent>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="agency" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>agency code if necessary</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                        <xs:attribute name="code" type="xs:string" use="required"/>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="language" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Partner language</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="paymentInformation" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Payment Information - This value can be different for each Bu if they use different payment system - Usualy use for White Label site</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                        <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                        <xs:attribute name="provider" type="xs:string" use="optional"/>
                                                        <xs:attribute name="status" type="xs:string" use="required"/>
                                                </xs:extension>
                                        </xs:simpleContent>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="priceCode" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>pricingCode for specific rating -enable integrated partner to provide pricing that are different when posting a different value-</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="discount" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Set if there is a discount price. Specified the discount type and a value</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                        <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                        <xs:attribute name="type" type="xs:string" use="required"/>
                                                </xs:extension>
                                        </xs:simpleContent>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="Parameters" type="ParametersType" minOccurs="0" maxOccurs="1"></xs:element>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="travelDefType">
                <xs:annotation>
                        <xs:documentation>Travel description</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="startDate" type="dateFormatType">
                                <xs:annotation>
                                        <xs:documentation>start Date</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="endDate" type="dateFormatType">
                                <xs:annotation>
                                        <xs:documentation>End Date</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="depositDate" type="dateFormatType" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Date of purschase of the trip/product that is related to the insurance</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="travelType" type="travelTypeDefintionType" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Travel agent product</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="originLocation">
                                <xs:annotation>
                                        <xs:documentation>Departure place (ISO  country code)</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                        <xs:simpleContent>
                                                <xs:extension base="countryISOType">
                                                        <xs:attribute name="county" type="countyType" use="optional"/>
                                                        <xs:attribute name="airport" type="airportType" use="optional"/>
                                                </xs:extension>
                                        </xs:simpleContent>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="destinationLocation" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation>Destination place for a given segment (ISO country code)</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                        <xs:simpleContent>
                                                <xs:extension base="countryISOType">
                                                        <xs:attribute name="county" type="countyType" use="optional"/>
                                                        <xs:attribute name="airport" type="airportType" use="optional"/>
                                                </xs:extension>
                                        </xs:simpleContent>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="comments" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>complementary data for travel description</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="totalTravelPrice" type="amountFormatType" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Total travel price for the insured persons</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="policyCover" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>SingleTrip or AnnualTrip</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="winterSports" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Yes or No, includewinter sports</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="personalPossession" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Yes or No, include personnal possession</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="destination" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Destination Areas</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="personType">
                <xs:annotation>
                        <xs:documentation>Define personal identification for contracted insurance</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="title" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Miss, Mrs, Mr, etc.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="surname" type="notNullStrType">
                                <xs:annotation>
                                        <xs:documentation>insured name</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="middlename" type="xs:string" minOccurs="0"/>
                        <xs:element name="firstname" type="notNullStrType">
                                <xs:annotation>
                                        <xs:documentation>insured firstname</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="dob" type="dateFormatType">
                                <xs:annotation>
                                        <xs:documentation>Date of birth</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="indPaidPremium" type="amountFormatType" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Individual premium effectively paid by the customer for this person (In case defined)</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="indTravelPrice" type="amountFormatType" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Individual travel price effectively paid by the customer for this person (In case defined)</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="id" type="xs:int" use="required">
                        <xs:annotation>
                                <xs:documentation>Assigns an id to each insured person</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="contractHolderType">
                <xs:annotation>
                        <xs:documentation>Identifies the contract holder</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="email" type="emailType" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>email is required for the contract holder</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="address" type="notNullStrType" maxOccurs="3">
                                <xs:annotation>
                                        <xs:documentation>contract holder's address</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="zipcode" type="xs:string" minOccurs="0"/>
                        <xs:element name="town" type="notNullStrType"/>
                        <xs:element name="country" type="notNullStrType"/>
                        <xs:element name="phoneNumber" type="xs:string" minOccurs="0" maxOccurs="3">
                                <xs:annotation>
                                        <xs:documentation>contract holder's phone number</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="noSpam" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>No trade or sell email</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="personId" type="xs:int" use="required">
                        <xs:annotation>
                                <xs:documentation>Get the person identification described in the insuredPerson node.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="productVariantType">
                <xs:annotation>
                        <xs:documentation>Insurance product definition</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="productCode" type="xs:string">
                                <xs:annotation>
                                        <xs:documentation>Product code</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="variantCode" type="xs:string">
                                <xs:annotation>
                                        <xs:documentation>Product's variant code</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="optionCode" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="insuredReqType">
                <xs:annotation>
                        <xs:documentation>Define all traveller categories</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="item" maxOccurs="4">
                                <xs:annotation>
                                        <xs:documentation>Each class of people is an item</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                        <xs:sequence>
                                                <xs:element name="number" type="xs:int">
                                                        <xs:annotation>
                                                                <xs:documentation>number per class</xs:documentation>
                                                        </xs:annotation>
                                                </xs:element>
                                                <xs:element name="travelPrice" type="amountFormatType" minOccurs="0">
                                                        <xs:annotation>
                                                                <xs:documentation>individual travel price per class</xs:documentation>
                                                        </xs:annotation>
                                                </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="class" use="required">
                                                <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                                <xs:enumeration value="senior"/>
                                                                <xs:enumeration value="adult"/>
                                                                <xs:enumeration value="child"/>
                                                                <xs:enumeration value="infant"/>
                                                        </xs:restriction>
                                                </xs:simpleType>
                                        </xs:attribute>
                                </xs:complexType>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="amountFormatType">
                <xs:simpleContent>
                        <xs:extension base="xs:float">
                                <xs:attribute name="currency" type="currencyISOType" use="required"/>
                        </xs:extension>
                </xs:simpleContent>
        </xs:complexType>
        <xs:complexType name="optionsType">
                <xs:sequence>
                        <xs:element name="option" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:sequence>
                                                <xs:element name="label" type="xs:string"/>
                                                <xs:element name="description" type="xs:string"/>
                                                <xs:element name="URL" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                        <xs:attribute name="id" type="xs:string" use="required"/>
                                </xs:complexType>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="ParametersType">
                <xs:sequence>
                        <xs:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"></xs:element>
                </xs:sequence>
        </xs:complexType>

        <xs:complexType name="ParameterType">
                <xs:attribute name="name" type="xs:string"></xs:attribute>
                <xs:attribute name="value" type="xs:string"></xs:attribute>
        </xs:complexType>

</xs:schema>
